.html {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.added {
  display: flex;
  justify-content: space-around;
  width: 460px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px #d1d1d1;
  border: 1px solid #eee;
  overflow: hidden;
}
.input {
  width: 350px;
  height: 40px;
  outline: none;
  border: 0;
  font-size: 1.4rem;
  color: #535353;
  border-radius: 5px;
}
.btn {
  width: 100px;
  height: 40px;
  position: relative;
  right: -2px;
  background-color: #038ab3;
  border: 1px solid #016381;
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 550;
  transition: all 0.5s;
}
.btn:hover {
  background-color: #016381;
  border: 1px solid #038ab3;
}
.todo {
  background-color: #fbd5d5;
}
.lableTodo {
  width: 1000px;
  height: 50px;
  line-height: 50px;
  font-size: 1.3rem;
}
.btnClose {
  width: 80px;
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #b30303;
  border: 1px solid #810101;
  border-radius: 0 5px 5px 0;
}
.btnClose:hover {
  background-color: #810101;
  border: 1px solid #b30303;
}
.btnDone {
  width: 250px;
  height: 50px;
  margin-right: 5px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #019530;
  border: 1px solid #017124;
  border-radius: 5px;
}
.btnDone:hover {
  background-color: #017124;
  border: 1px solid #019530;
}
